{% extends "shop/base.html" %}
{% load i18n %}

{% load static %}

{% block title %}
 Your shopping cart
{% endblock %}

{% block content %}

    <div id="subheader">
        <div class="cart">
            {% with total_items=cart|length %}
                {% if total_items > 0 %}
                    {% trans 'Your cart' %}:
                    <a href="{% url 'cart:cart_detail' %}">
                        {% blocktrans with total=cart.get_total_price count items=total_items %}
                            {{ items }} item, Rs. {{ total }}
                        {% plural %}
                            {{ items }} items, Rs. {{ total }}
                        {% endblocktrans %}                        
                    </a>
                {% else %}
                    {%  trans 'Your cart is empty.' %}
                {% endif %}
            {% endwith %}
        </div>
    </div>

    <h1>Your shopping cart</h1>
    <table class="cart">
        <thead>
            <tr>
                <th>Image</th>
                <th>Product</th>
                <th>Quantity</th>
                <th>Remove</th>
                <th>Unit price</th>
                <th>Total Price</th>
            </tr>
        </thead>
        <tbody>
            {% for item in cart %}
            {% with product=item.product %}
            <tr>
                <td>
                    <a href="{{ product.get_absolute_url }}">
                        <img src="{% if product.image %}{{ product.image.url}}
                        {% else %}{% static 'img/no_image.png' %}{% endif %}">
                    </a>
                </td>
                <td>{{ product.name }}</td>
                <td  id=" qty">
                    <!-- {{ item.update_quantity_form.quantity }} -->
                    <input type="button" name="subtract"  class= "subtract" id="subtract" value="-"></input>
                    <input type="button" name="add" class="add" id="add" value="+"></input>
                    <input type="text" name="qty"  class="qty" id="qty" value="0"></input>
                    
       
                </td>
                <td>
                    <form action="{% url 'cart:cart_remove' product.id %}" method="post">
                        <input type="submit" value="Remove">
                        {% csrf_token %}
                    </form>
                </td>
                
                <td class="num price" id="price">{{ item.price }}
                  

                </td>
                <td class="num total" id="total">{{ item.total_price }}</td>
            </tr>
            {% endwith %}
            {% endfor %}




            {% if cart.coupon %}
                <tr class="subtotal" id="total">
                    <td id="total">Subtotal</td>
                    <td colspan="4"></td>
                    <td class="num" id="total">{{ cart.get_total_price|floatformat:2 }}</td>
                </tr>
                <tr>
                    <td>
                    "{{ cart.coupon.code }}" coupon 
           
                    ({{ cart.coupon.discount }}% off)
                    </td>
                <td colspan="4"></td>
                rs.<td class="num neg">
                    - {{ cart.get_discount|floatformat:2 }}
                </td>
                </tr>
            {% endif %}

                <tr class="final-total" id="total">
                    <td>Total</td>
                    <td colspan="4"></td>
                    <td class="final-num" id="final-num">
                    Rs.{{ cart.get_total_price_after_discount|floatformat:2 }}
                    </td>
                </tr>
        </tbody>
    </table>

    {% if recommended_products %}
        <div class="recommendations cart">
            <h3>{% trans "People who bought this also bought" %}</h3>
            {% for p in recommended_products %}
                <div class="item">
                    <a href="{{ p.get_absolute_url }}">
                        <img src="{% if p.image %}{{ p.image.url }}{% else %}
                        {% static 'img/no_image.png' %}{% endif %}">
                    </a>
                    <p><a href="{{ p.get_absolute_url }}">{{ p.name }}</a></p>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <p>Apply a coupon:</p>
    <form action="{% url 'coupons:apply' %}" method="post">
        {{ coupon_apply_form }}
        <input type="submit" value="Apply">
        {% csrf_token %}
    </form>

        <p class="text-right">
            <a href="{% url 'shop:product_list' %}" class="button light">Continue shopping</a>
            <a href="{% url 'orders:order_create' %}" class="button">Checkout</a>
        </p>

    <script>
            $(function() {
                function calcuate_total(){
                var total_sum = 0
                $('.total').each(function(){
                    total_sum += parseFloat($(this).text())
                })
                return total_sum
            } 
          var price = parseFloat($('.price').text());
        
          $('.subtract').on("click",function() {
            tr =$(this).closest('tr');
            price = parseFloat($(tr).find('.price').text())
            $qty = $(tr).find('.qty');
            var current = parseInt($qty.val());
            if ( current > 0 ) {
                $qty.val(current-1) 
                $(tr).find('.total').text(price*parseInt($qty.val()));
            } else {
                $(tr).find('.total').text(0);
            }
            var get_total_after_subtract = calcuate_total()
            $("#final-num").html("Rs."+get_total_after_subtract)
        
          });
        
          $('.add').on("click",function() {
            tr = $(this).closest('tr');
            price = parseFloat($(tr).find('.price').text());
            $qty = $(tr).find('.qty');
            var current = parseInt($qty.val());
            $qty.val(current+1);
            $(tr).find('.total').text(price*parseInt($qty.val()))
            var get_total_after_add = calcuate_total()
            $("#final-num").html("Rs."+get_total_after_add)
            
            // console.log("working")
            // var $qty = $('.qty');
            // var current = parseInt($qty.val());
            // $qty.val(current+1);
            // parseFloat($('.total').text(price*(current+1)));
          });
        });    
        
        
    </script>
        
  
{% endblock %}