{% extends "shop/base.html" %}
{% load i18n %}

{% load static %}

{% block title %}
    {% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}

{% block content %}
    <div id="subheader">
        <div class="cart">
            {% with total_items=cart|length %}
                {% if total_items > 0 %}
                    {% trans 'Your cart' %}:
                    <a href="{% url 'cart:cart_detail' %}">
                        {% blocktrans with total=cart.get_total_price count items=total_items %}
                            {{ items }} item, Rs. {{ total }}
                        {% plural %}
                            {{ items }} items, Rs. {{ total }}
                        {% endblocktrans %}                        
                    </a>
                {% else %}
                    {%  trans 'Your cart is empty.' %}
                {% endif %}
            {% endwith %}
        </div>
    </div>

    <div id="sidebar">

        <form action="{% url 'shop:product_list' %}" method="get">
            <input name="q" type="text" placeholder="filter by...">
            <button type='submit'>Filter</button>
        </form>

        <form action="{% url 'shop:product_list' %}" method="get">
            <input name="q" type="text" placeholder="Search...">
            <button type='submit'>Search</button>
        </form> 

        <h3>Categories</h3>
        <ul>
            <li {% if not category %}class="selected"{% endif %}>
                <a href="{% url 'shop:product_list' %}">All</a>
            </li>
            {% for c in categories %}
                <li {% if category.slug == c.slug %}class="selected" {% endif %}>
                    <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div id="main" class="product-list">
        <h1>{% if category %}{{ category.name }}{% else %}Products{% endif %}</h1>
        {% for product in product_data %}
            <div class="item">
                <a href="{{ product.get_absolute_url }}">
                    <img  id ='abcimage' src="{% if product.image %}{{ product.image.url }}
                    {% else %}{% static 'img/no_image.png' %}{% endif %}">
                </a>
                <br>
                <a href="{{product.get_absolute_url}}">{{ product.name }}</a>
                <br>
                Rs.{{ product.price }}
                {% comment %} <form action="{% url 'cart:cart_add' product.id %}" method="post">
                    {{ cart_product_form }}
                    {% csrf_token %}
                    <input type="submit" value="{% trans 'Buy Now' %}">
                </form> {% endcomment %}
            </div>
        {% endfor %}
    </div>

    <nav aria-label="...">
        <ul class="pagination">
          {%  if product_data.has_previous %}
          <li class="page-item ">
            <a class="page-link" href="/shop/?page=1" tabindex="-1">First</a>
          </li>
          <li class="page-item ">
            <a class="page-link" href="/shop/?page={{ product_data.previous_page_number }}" tabindex="-1">Previous</a>
          </li>
          {% endif %}              
      
          {% if product_data.has_next %}
          <li class="page-item">
            <a class="page-link" href="/shop/?page={{ product_data.next_page_number }}">Next</a>
          </li>
          {% endif %}
        </ul>
      </nav>
{% endblock %}